<div class="container2gen">
    <form enctype="multipart/form-data" method="POST" action="/upload">
        <input type="file" required accept="*/*" name="imagetoupload" multiple>
        <button type="submit">Submit</button>
    </form>
</div>